{% load adminmedia %}
{% extends "base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Edit your personal information" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>
<script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script> 
{{ form.media }}
{% endblock %}

{% block nav-main %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block content %}
	<form class="personal" action="{{ request.path_info }}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<fieldset>
		<legend>{% trans "BlankOn User Survey" %}</legend>
		{{ form.as_p }}	
		<input id="id_status" type="hidden" name="status" value="Y" />
	</fieldset>
	<input type="submit" value="{% trans 'Save' %}" />
	</form>
{% endblock %}

{% block content-related %}
  <div class="box">
    <h3>{% trans "BlankOn user survey" %}</h3>
    <p>{% trans "Please help us to get information about BlankOn Linux user. Please refer to Privacy Policy to know more about this project." %}.</p>
  </div>
{% endblock %}

